body{
    background-color: #f1eded;
    text-align: center;
}
.fundo{
    box-sizing: border-box;

    position: absolute;
    width: 50%;
    height: 85%;
    left: 341px;
    top: 50px;
    background: #D9D9D9;
}
.btn{
    width: 250px;
    color: #ffffff;
    border: none;
    padding: 10px 24px;;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;    
}

.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#op{
    background-color: #32CD32;
    top: 230px;
}

.fundo2{

    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 150px;
    background: #ffffff;
    text-align: center;
    border-style:groove;
    border-color: #b3ff5d;
}

.basica{
    background-color: #f1eded;
    text-align: center;
}

.bt2{
    width: 120px;
    text-align: center;
    border-color: #32CD32;
}

.text2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}



#potencia{
    background-color: #FFD700;

}
.pot{
    background-color: #f1eded;
    text-align: center;
    
}
.fundo3{
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 150px;
    background: #ffffff;
    text-align: center;
    border-style:groove;
    border-color: #FFD700;
}
.bt3{
    width: 120px;
    text-align: center;
    border-color: #FFD700;
}


.rz{
    background-color: #f1eded;
    text-align: center;
}

.fundo4{
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 150px;
    background: #ffffff;
    text-align: center;
    border-style:groove;
    border-color: #FF8C00;
}

.bt4{
    width: 120px;
    text-align: center;
    border-color: #FF8C00;
}

.raiztext{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#raizz{
    background-color: #FF8C00;
}



#area{
    background-color: #DC143C;
}

.ar{
    background-color: #f1eded;
    text-align: center;
}

.fundo5{
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 150px;
    background: #ffffff;
    text-align: center;
    border-style:groove;
    border-color: #DC143C;
}

.areatext{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}

.bt5{
    width: 190px;
    text-align: center;
    border-color: #DC143C;
}


#bhaskara{
    background-color: #C71585;
}

.bhas{
    background-color: #f1eded;
    text-align: center;
}

.fundo6{
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 150px;
    background: #ffffff;
    text-align: center;
    border-style:groove;
    border-color: #C71585;
}

.bt6{
    width: 190px;
    text-align: center;
    border-color: #C71585;
}

.bhastext{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}